/*------------------------------------------*/
/*----------------Basic Setup---------------*/
/*------------------------------------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%; /* 10px */
    scroll-behavior: smooth;
}

:root {
    --pink: #ff3258;
    --white: #ffffff;
    --black: #010101;
    --off-white: #ffffffc6;
    --gray: #ffffffab;

    --nav-height: 8rem;

    --fs-h1: 7.5rem;
    --fs-h2: 6rem;
    --fs-h3: 3rem;

    --gutter-xx-small: 2rem;
    --gutter-x-small: 3rem;
    --gutter-small: 4rem;
    --gutter-medium: 6rem;
    --gutter-large: 8rem;
    --gutter-huge: 10rem;

    
}

body {
    font-family: "Roboto-Mono", monospace;
    color: var(--off-white);
    font-size: 1.8rem;
    background-color: var(--black);
}

.hidden {
    opacity: 0;
    filter: blur(.5rem);
    transform: translateX(-100%);
    transition: all .5s ease-out;
}

.fade {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

a{
    color: var(--white);
    text-decoration: none;
}

.btn {
    display: inline-block;
    padding: 1.2rem 4rem;
    border: 1px solid var(--pink);
    font-size: 2.2rem;
}

.btn:hover{
    background-color: var(--pink);
    transition: 0.3s;
}

section{
    padding: 10rem 0;
}

.row{
    max-width: 1180px;
    margin: 0 auto;
}

h1,
h2,
h3 {
    font-weight: 300;
}

h2 {
    font-size: var(--fs-h2);
}

h2::after {
    content: "";
    display: block;
    height: .3rem;
    width: 12rem;
    margin-top: 1rem;
    background-color:var(--pink);

}

h3{
    font-size: var(--fs-h3);
}

ul{
    list-style-position: inside;
}

/*------------------------------------------*/
/*------------------Header------------------*/
/*------------------------------------------*/

header{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,.1), rgba(0,0,0,.4)), url(images/header3.jpg);
    background-attachment: fixed;
    background-size: cover;
}

header .row {
    width: 100%;
}

.header_link{
    display: inline-block; /* Display inline block */
    position: relative; /* Set position relative */
}


.header_link:after {
    content: ''; /* Add content after the element */
    position: absolute; /* Position absolute for pseudo-element */
    width: 100%; /* Full width */
    transform: scaleX(0); /* Initial scale of 0 for underline effect */
    height: 3px; /* Height of the underline */
    bottom: 0; /* Align to bottom */
    left: 0; /* Align to left */
    background-color: var(--pink); /* Background color of the underline */
    transform-origin: bottom right; /* Set transform origin */
    transition: transform 0.25s ease-out; /* Transition effect for the underline */
}

.header_link:hover:after {
    transform: scaleX(1); /* Scale the underline on hover */
    transform-origin: bottom left; /* Set transform origin */
}


.navdiv {
    z-index: 1;
}

.navigation_overlay{
    position: fixed;
    background-color: rgba(0,0,0,.5);
    right: 8.7%;
    height: 8rem;
    width: 35%;
    border-radius: 25px;

}

.navigation{
    position: fixed;
    width: 100%;
    height: 8rem;
}


nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 6rem;
    height: var(--nav-height);
}

.contentdiv {
    width: 180%;
}

.contentdiv a {
    font-size: 1.7rem;
}

.contentdiv > div {
    display: flex;
    align-items: center;
}

.contentdiv  div img{
    height: 20%;
    width: 20%;
}

nav a {
    font-size: 2.2rem;
}

.header-text-container {
    display: flex;
    align-items: center;
    height: calc(100% - 9rem); 
}

.header-text-container p {
    font-size: 2.4rem;
    margin: 1rem 0 3rem;
}

h1 {
    font-size: var(--fs-h1); 
}

/*------------------------------------------*/
/*------------------My Work-----------------*/
/*------------------------------------------*/

.work-section{
    background-image: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,1)) , url(images/PCBWork.jpg);
}

.work-box{
    display: flex;
    align-items: center;
    gap: var(--gutter-large);
    margin-top: var(--gutter-x-small);
}

.work-box-child:nth-child(2){
    transition-delay: 200ms;
}

.work-box-child:nth-child(3){
    transition-delay: 400ms;
}


.work-box-text{
    background-color: rgba(0,0,0,.6);
    padding: 4rem;
    border-radius: 2.5rem;
}

.work-box-text > *{
    margin-top: var(--gutter-xx-small);
    font-size: 1.5rem;
    color: var(--gray);
}

.work-box-text h3{
    font-size: var(--fs-h3);
    color: var(--off-white);
}

.report-btns{
    display: flex;
    gap: var(--gutter-xx-small);
}

/* Dropdown Button */
.dropbtn {
    cursor: pointer;
    display: flex;
    padding: 1.2rem 2rem;
    border: .1rem solid var(--pink);

}

/* Transition color on hover INCLUDE .dropbtn TO MAKE SURE IT STAYS TRANSITIONING */
.dropdown:hover .dropbtn{
    background-color: var(--pink);
    transition: .3s;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, .6);
    min-width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    max-width: 200%;
}


/* Links inside the dropdown */
.dropdown-content a {
    color: var(--white);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    border: .1rem solid var(--pink);
}


/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
    display:block;
}


.work-box-img{
    max-width:7.26rem;
}

.work-box-img img{
    max-width: 100%;
    object-fit: contain;
}


.work-btn{
    display: inline-block;
    padding: 1.2rem 2rem;
    border: .1rem solid var(--pink);
}

.work-btn:hover{
    background-color: var(--pink);
    transition: 0.3s;
}

/*------------------------------------------*/
/*-----------------About Me-----------------*/
/*------------------------------------------*/

.about-section{
    background-image: linear-gradient(rgba(0, 0, 0, 1) , rgba(0, 0, 0, .1)), url(images/AboutMe_img.jpg); 
    background-size: cover;
}

.about{
    display: flex;
    gap: var(--gutter-huge);
    margin-top: var(--gutter-large);
}

.aboutchild:nth-child(1){
    transition-delay: 200ms;
}

.aboutchild:nth-child(2){
    transition-delay: 400ms;
}

.about-text{
    background-color: rgba(0,0,0,.6);
    padding: 4rem;
    border-radius: 2.5rem;
}

.about-img img{
    max-width: 550px;
    object-fit: contain;
    padding-top: 4rem;
}

.about-text p{
    margin-bottom: var(--gutter-x-small);
}
